* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --mainColor: rgb(205, 82, 209);
}

body {
  background-color: rgb(61, 60, 60);
  font-family: Arial, Helvetica, sans-serif;
}

h1,
.snippet-header,
.description,
.webmaster {
  color: var(--mainColor);
}

h1,
h4,
.webmaster {
  text-align: center;
}

h4 {
  margin-left: 500px;
  margin-right: 500px;
  margin-top: 15px;
  margin-bottom: 40px;
  color: white;
  font-weight: 200;
}

.row-1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.snippet {
  border: 2px dashed white;
  height: 300px;
  width: 400px;
  font-size: medium;
  margin: 2rem;
}

.snippet-header {
  position: relative;
  margin-top: -20px;
  margin-left: 25px;
  margin-right: 25px;
  border: 1px solid white;
  width: 85%;
  height: 50px;
  background-color: rgb(61, 60, 60);
  font-size: 25px;
  padding-top: 2%;
  padding-left: 0.5rem;
  font-weight: bold;
}

.description {
  font-size: 16px;
  position: relative;
  top: 17px;
  left: 15px;
}

.code-snippet {
  width: 95%;
  height: 200px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 35px;
  border: 1px none white;
  position: relative;
  background-image: linear-gradient(
    rgba(232, 102, 236, 0.1) 0%,
    rgba(232, 102, 236, 0.8) 100%
  );
  color: white;
  padding-top: 35px;
  font-size: small;
}

.code-snippet,
.snippet-header {
  border-radius: 7px;
  text-align: justify;
  padding-left: 12px;
  padding-right: 12px;
  transition: all 0.5s ease-in-out;
}

.code-snippet:hover,
.code-snippet:hover .snippet-header {
  box-shadow: inset 0px 0px 8px rgba(232, 102, 236, 1), 0 0 15px;
}

.webmaster {
  margin-top: 35px;
}

@media (max-width: 992px) {
  .snippet {
    width: 40%;
  }
}

@media (max-width: 768px) {
  .snippet {
    width: 100%;
  }
}
